.Form_Container {
    height: 45%;
    width: 35%;
    border: 2px solid black;
    margin: 10px auto;
    border-radius: 20px;
}

form {
    margin:20px;
    text-align: center;
    label{
        padding:10px;
        display:inline-block;
        width:140px;
    }
    input, select {
        margin:10px;   
        width: 180px;
    }
    .button {
        margin:10px;
    }
    select{
    height: 24px;
    width: 190px;
    }
}